.homeImg img {
  opacity: 1;
  float: left;
  width: 100%;
  height:auto;
  position:relative;
  left: 0px;
  top:0px;
  z-index:998;
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, 
  from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  ;
}

.container {
    /* position: absolute; */
    text-align: center;
    color: white;
  }

.intro {
  position: relative;
  text-align:left;
  right:0px;
  top:15px;
  z-index:998;
  color:black;
}

/* .steps img{
  float: left;
  width: 20%;
  height:auto;
  position:relative;
  left: 0px;
  top:0px;
  z-index:998;
} */
.row::after {
  content: "";
  clear: both;
  display: table;
                }

@media only screen and (min-width: 601px) {
.column1  {
float: left;
width: 70%;  /* 30% is approximately 270 pixels */
padding: 20px;
text-align: center;
}
}